@{
    ViewData["Title"] = "Админка";
}

<section>
    <div class="container">
        <h1 class="text-center">Админка</h1>
        <table class="table text-center ">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Изображение</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Food food in Model)
                {
                    <tr>
                        <th scope="row">@food.Id</th>
                        <td>
                            <p class="card-text">@food.Name</p>
                        </td>
                        <td>
                            <p class="card-text">@food.Price</p>
                        </td>
                        <td>
                            <p class="card-text">@food.Description</p>
                        </td>
                        <td>
                            <img src="@food.Img" alt="food" style="max-width:100px;" />
                        </td>
                        <td>
                            <a class=" text-dark btn btn-outline-warning" asp-controller="Admin" asp-action="Edit" asp-route-id="@food.Id">Изменить</a>
                            <button type="button" class="btn btn-outline-danger" id="delete" data-id="@food.Id">Удалить</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
            <a class="btn btn-outline-success text-dark" asp-area="" asp-controller="Admin" asp-action="Create">Добавить позоцию</a>

    </div>
</section>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {

            $('button').click(async (e) => {
                let idDelete = $(e.target).data('id')
                try {
                    await axios.delete(`http://localhost:5000/api/Foods/${idDelete}`)
                    location.reload()
                } catch (e) {
                    console.error(e)
                }
                
            });
          
         });

    </script>
}