@{
    ViewData["Title"] = "Админка";
}

<section>
    <div class="container">
        <h1 class="text-center">Админка</h1>
        <table class="table text-center ">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Изображение</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Food food in Model)
                {
                    <tr>
                        <th scope="row">@food.Id</th>
                        <td>
                            <p class="card-text">@food.Name</p>
                        </td>
                        <td>
                            <p class="card-text">@food.Price</p>
                        </td>
                        <td>
                            <p class="card-text">@food.Description</p>
                        </td>
                        <td>
                            <img src="@food.Img" alt="food" style="max-width:100px;" />
                        </td>
                        <td>
                            <a class=" text-dark" asp-controller="Admin" asp-action="Edit" asp-route-id="@food.Id">Изменить</a>
                            <button type="button" class="btn btn-outline-danger" id="Delete" data-id="@food.Id">Удалить</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
            <a class="btn btn-outline-success text-dark" asp-area="" asp-controller="Admin" asp-action="Create">Добавить позоцию</a>

    </div>
</section>


@section Scripts {
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {

            let buttonDelete = $('#Delete');
            let buttonEdit = $('#Edit');

            let idDelete = buttonDelete.attr('data-id')
            let idEdit = buttonEdit.attr('data-id')

            let fdata = new FormData();

            buttonDelete.click(() => {
                fdata.append("Id", idDelete);
                $.ajax({
                    type: 'delete',
                    url: '@Url.Action("DeleteFood", "Admin")',
                    data: fdata,
                    processData: false,
                    contentType: false
                }).done(function (result) {
                    location.reload();
                    fdata = new FormData();
                    console.log(result);
                });
            })
         });

    </script>
}